.sidebar{
    display: flex;
    align-items: center;
    padding: 13px;
    cursor: pointer;
}
.sidebar:hover{
    background-color: lightgray;
    border-radius: 20px;
}
.sidebar h4{
    margin-left: 1rem;
    font-family: 600;
}
.sidebar .MuiSvgIcon-root{
    color: #2e81f4;
    font-size: xx-large;
}